extend layout
block header
  header
      a(href='/')
        h1.mast-head Jones Vintage Books
      .link-wrapper
        a(href='/products/new') Add Item (Manually)
        a(href='/products/new/isbn') Add Item (ISBN)
        a(href='/products/') View All Products

block search
  section.search-wrapper
    //- span.label.search-label Search:
    input(type="text", autofocus)
    button(type="submit" class="btn btn-primary btn-lg" ng-click="searchProducts()") Search

